# Part 1: SQL Overview & Syntax

## SQL Overview

**Structured Query Langauge - Databases!!**

**Why do we care?**
- Lots of data is available in SQL databases 
- You may be tasked with using this data and you have to be able to get it out of the database.
- Efficient storage and retrieval of records
- Good for storing MASSIVE amounts of data.
- You may want to make your own SQL database at some point


**Lots of things you can do with SQL:** 
- SELECT (get data) - This is what we'll focus on - Getting Data
- CREATE - Make tables
- INSERT - Add data to a table
- UPDATE - Update data in a table
- ALTER - Change a table
- DROP - Delete a table
- DELETE - Delete data from a table

We are going to use the following website to practice SQL queries: https://www.w3schools.com/sql/trysql.asp?filename=trysql_asc

## SQL SELECT Syntax

Sample Table
 

---



**people**  

| id       | name           | age | city |
| ------------- |-------------| -----|---|
| 1     | Joe | 5| Durango|
| 2      | Alice     | 55| Albuquerque |
| 3 | Veronica     |   105| Albuquerque |
|4| Matt | 43 | null |

## Basic Queries

**Query all rows and columns**  
`SELECT * FROM people`

**Query specific columns**  
`SELECT name, age FROM people`

**Query based on condition**  
`SELECT name FROM people WHERE id > 1`

### Your Turn
1. Select the `CustomerName` and `City` columns from `Customers`.
2. Select the `CustomerName` for people live in Sweden. 
3. Select the entire row for people who live in London.

## And, Or, In


**AND - Combine Conditions**  
`SELECT name FROM people WHERE id > 1 AND age > 60`


**OR**  
`SELECT name FROM people WHERE name = 'Joe' OR name = 'Alice'`

**IN**  Require something to be in a list of values  
`SELECT name FROM people WHERE name IN ('Joe', 'Alice')`

### Your Turn
1. Select the entire row for people who live in Spain and have a `CustomerID` less than 20.
2. Select the entire row for people who live in either France or Germany.

## Aliases and Wildcards

**AS - Alias a column**  
`SELECT name AS 'first_name' FROM people`

**% Wildcard - LIKE**  Get all names that start with A  
`SELECT * FROM people WHERE name LIKE  'A%'`

**_ Wildcard - LIKE**  Match any single character   
`SELECT * FROM people WHERE name LIKE  '_oe'`

### Your Turn
1. Select the entire row for people whos `CustomerName` start with "W'
2. Select the entire row for people whos `PostalCode` ends in a 4

## Additional Queries


**BETWEEN**  
`SELECT name FROM people WHERE age BETWEEN 18 AND 70`

**LIMIT rows returned**  
`SELECT name FROM people LIMIT 5`

**OFFSET**  skips entries (i.e. page 2 of search results skips first 10 on page 1)  
`SELECT name FROM PEOPLE LIMIT 5 OFFSET 5`

**NULL**  
`SELECT * FROM people WHERE city IS NOT NULL`

**ROUND**  - Rounds average age to 2 decimals  
`SELECT ROUND(AVG(age), 2) from people`

### Your Turn
1. Select the first 6 rows of people who have CustomerIDs between 20 and 35.

## Sorting & Grouping

**ORDER BY**  ASC (default) or DESC  
`SELECT * FROM people ORDER BY name DESC`

**DISTINCT**  Returns unique values of a column  
`SELECT DISTINCT name FROM people`

**GROUP BY**  (Can come after FROM or WHERE but must come before ORDER BY or LIMIT)  -- Total the number of people in each city
`SELECT city, COUNT(*) FROM people GROUP BY city`

**HAVING** Further filters groups-- only pull cities with more than 3 people in them  
`SELECT city, COUNT(*) FROM people GROUP BY city HAVING COUNT(*) >3`

### Your Turn
1. Sort the `Customers` table by `City` in alphabetically order. 
2. Find the distinct countries. 
3. Count the number of people in each country.

## Aggregates

**COUNT**  Get the number of rows  
`SELECT COUNT(*) FROM people`

**MAX**  
`SELECT MAX(age) FROM people`

**MIN**  
`SELECT MIN(age) FROM people`

**SUM**  
`SELECT SUM(age) FROM people`

**AVG**  
`SELECT AVG(age) FROM people`

### Your Turn
1. Find the maximum postal code in `Customers`.

## Joins

**people**  

| id       | name           | age | city |
| ------------- |-------------| -----|---|
| 1     | Joe | 5| Durango|
| 2      | Alice     | 55| Albuquerque |
| 3 | Veronica     |   105| Albuquerque |
|4| Matt | 43 | null |

**cities**    

| id       | city       | state | population|
| ------------- |-------------| -----|---|
| 1     | Tijeras| NM |987|
| 2      | Albuquerque | NM | 8776|
| 3 | Santa Fe    |  NM|907|
|4| Durango| CO| 9|

**Outer Join LEFT or RIGHT** returns ALL rows from left table, nulls for columns for right if no entries match

`SELECT name, city, state FROM people LEFT JOIN cities ON people.city = cities.city`

**Inner join**  Only returns rows in BOTH tables
`SELECT * FROM people JOIN cities ON people.city = cities.city`

**ON** ON specifies that table1.column1 correlates with table2.column2

# Part 2: Practicing SQL Queries

We are going to look at an example of using SQL to access data from Google's BigQuery. Before looking at this example, we will need to get setup on BigQuery (see BigQuery - Getting Started.ipynb). 

We will be looking at the "covid19_google_mobility" dataset located [here](https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=covid19_open_data&page=dataset&project=cool-monolith-286222&ws=!1m4!1m3!3m2!1sbigquery-public-data!2scovid19_open_data).

## Setup

In [ ]:
from google.cloud import bigquery
from google.colab import auth
import pandas as pd
import plotly.express as px

auth.authenticate_user()

In [ ]:
project_id = 'top-gantry-321023'

# Create client object
client = bigquery.Client(project=project_id)

## Initial Exploration

### List the tables

In [ ]:
# Construct a reference to the "covid19_google_mobility" dataset
dataset_ref = client.dataset("covid19_google_mobility", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Get all the tables in the dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset
for table in tables: 
  print(table.table_id)

mobility_report

### Look at the table schema

In [ ]:
# Construct a reference to the "mobility report" table
table_ref = dataset.table("mobility_report")

# API request - fetch the table
table = client.get_table(table_ref)

# See the table's schema - name, field type, mode, description
table.schema

[SchemaField('country_region_code', 'STRING', 'NULLABLE', '2 letter alpha code for the country/region in which changes are measured relative to the baseline. These values correspond with the ISO 3166-1 alpha-2 codes', ()),
 SchemaField('country_region', 'STRING', 'NULLABLE', 'The country/region in which changes are measured relative to the baseline', ()),
 SchemaField('sub_region_1', 'STRING', 'NULLABLE', 'First geographic sub-region in which the data is aggregated. This varies by country/region to ensure privacy and public health value in consultation with local public health authorities', ()),
 SchemaField('sub_region_2', 'STRING', 'NULLABLE', 'Second geographic sub-region in which the data is aggregated. This varies by country/region to ensure privacy and public health value in consultation with local public health authorities', ()),
 SchemaField('metro_area', 'STRING', 'NULLABLE', 'A specific metro area to measure mobility within a given city/metro area. This varies by country/region to ensure privacy and public health value in consultation with local public health authorities', ()),
 SchemaField('iso_3166_2_code', 'STRING', 'NULLABLE', 'Unique identifier for the geographic region as defined by ISO Standard 3166-2.', ()),
 SchemaField('census_fips_code', 'STRING', 'NULLABLE', 'Unique identifier for each US county as defined by the US Census Bureau. Maps to county_fips_code in other tables', ()),
 SchemaField('place_id', 'STRING', 'NULLABLE', 'A textual identifier that uniquely identifies a place in the Google Places database and on Google Maps (details). For example, ChIJd_Y0eVIvkIARuQyDN0F1LBA. For details, see the following link: https://developers.google.com/places/web-service/place-id', ()),
 SchemaField('date', 'DATE', 'NULLABLE', 'Changes for a given date as compared to baseline. Baseline is the median value, for the corresponding day of the week, during the 5-week period Jan 3â€“Feb 6, 2020.', ()),
 SchemaField('retail_and_recreation_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.', ()),
 SchemaField('grocery_and_pharmacy_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies.', ()),
 SchemaField('parks_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like local parks, national parks, public beaches, marinas, dog parks, plazas, and public gardens.', ()),
 SchemaField('transit_stations_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like public transport hubs such as subway, bus, and train stations.', ()),
 SchemaField('workplaces_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places of work.', ()),
 SchemaField('residential_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places of residence.', ())]

In [ ]:
# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

  country_region_code  ... residential_percent_change_from_baseline
0                  AE  ...                                        9
1                  AE  ...                                        6
2                  AE  ...                                        6
3                  AE  ...                                        7
4                  AE  ...                                        7

[5 rows x 15 columns]

##  Add safe config settings

BigQuery allows you to query up to 1 TB per month. You can quickly reach this limit if you are not careful. Luckily, there are ways to assess and limit the amount of data you are querying. Note: BigQuery is allowing unlimited queries for the Covid data until September 2021.

Set constants for sizes

In [ ]:
ONE_MB = 1000*1000
ONE_GB = 1000*ONE_MB

Sample Query 1 - Covid - Dry Run
You can use a 'dry run' to estimate the size of a query before running it.

In [ ]:
query = """
        SELECT *
        FROM bigquery-public-data.covid19_google_mobility.mobility_report
        LIMIT 5
        """


dry_run_config = bigquery.QueryJobConfig(dry_run = True)
dry_run_query_job = client.query(query, job_config= dry_run_config)
dry_run_query_job.total_bytes_processed

697858654

Sample Query 1 - Covid - Safe Config
You can also specify a limit for how much data you want to scan.

In [ ]:
# This line should be included every time 
# It seems like you should be able to set it and reuse it, but that doesn't work 
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_GB)

safe_query_job = client.query(query, job_config=safe_config)
df = safe_query_job.to_dataframe()
df.head()

  country_region_code  ... residential_percent_change_from_baseline
0                  AE  ...                                        9
1                  AE  ...                                        6
2                  AE  ...                                        6
3                  AE  ...                                        7
4                  AE  ...                                        7

[5 rows x 15 columns]

## What do a couple of entries look like?

In [ ]:
query = """
        SELECT *
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        LIMIT 5
        """
df = client.query(query).to_dataframe()
df.head()

  country_region_code  ... residential_percent_change_from_baseline
0                  AE  ...                                        9
1                  AE  ...                                        6
2                  AE  ...                                        6
3                  AE  ...                                        7
4                  AE  ...                                        7

[5 rows x 15 columns]

##What do the next 5 entries look like?  
5 just wasn't enough!

In [ ]:
query = """
        SELECT *
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        LIMIT 5 OFFSET 5
        """
df = client.query(query).to_dataframe()
df.head()

  country_region_code  ... residential_percent_change_from_baseline
0                  AE  ...                                       10
1                  AE  ...                                        6
2                  AE  ...                                       26
3                  AE  ...                                       11
4                  AE  ...                                       10

[5 rows x 15 columns]

## How many records are there?

In [ ]:
query = """
        SELECT COUNT(*)
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        """
df = client.query(query).to_dataframe()
df.head()

       f0_
0  6243471

## What countries are represented in this dataset?

In [ ]:
query = """
        SELECT DISTINCT country_region
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        """
df = client.query(query).to_dataframe()
df.head()

         country_region
0  United Arab Emirates
1           Afghanistan
2   Antigua and Barbuda
3                Angola
4                 Aruba

In [ ]:
countries = df['country_region']
print(f"There are {countries.count()} countries")

There are 135 countries

**There are 193 or maybe 195 total countries so we are missing 60 countries in this dataset!!!**

## What the subregions are in the US?

In [ ]:
query = """
        SELECT sub_region_1, sub_region_2
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE country_region = 'United States'
        LIMIT 10
        """
df = client.query(query).to_dataframe()
df.head()

  sub_region_1 sub_region_2
0         None         None
1         None         None
2         None         None
3         None         None
4         None         None

This isn't very informative. Let's look where the sub_regions do not equal 'None'.

In [ ]:
query = """
        SELECT DISTINCT sub_region_1, sub_region_2
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE country_region = 'United States' AND sub_region_2 != 'None'
        """
df = client.query(query).to_dataframe()
df.head(10)

  sub_region_1      sub_region_2
0      Alabama    Autauga County
1      Alabama    Baldwin County
2      Alabama    Colbert County
3      Alabama    Cullman County
4      Alabama     Elmore County
5      Alabama    Houston County
6      Alabama  Jefferson County
7      Alabama        Lee County
8      Alabama  Limestone County
9      Alabama    Madison County

Sub_region_1 appears to be the state and sub_region_2 appears to be the county.

## What dates does this cover?

In [ ]:
query = """
        SELECT MIN(date), MAX(date) 
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE country_region = 'United States'
        """
df = client.query(query).to_dataframe()
df.head()

          f0_         f1_
0  2020-02-15  2021-07-22

We have data from mid-February 2020 to present.

## On average have retail and recreation trips decreased in Bernalillo County?

In [ ]:
query = """
        SELECT AVG(retail_and_recreation_percent_change_from_baseline)
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County" AND sub_region_1 = "New Mexico"
        """
df = client.query(query).to_dataframe()
df.head()

         f0_
0 -18.866412

## Are there any Bernalillo Counties in other states?

In [ ]:
query = """
        SELECT DISTINCT sub_region_1
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County"
        """
df = client.query(query).to_dataframe()
df.head()

  sub_region_1
0   New Mexico

We're the only one!!!

## How many states have a subregion 2 that is Lincoln County or similar?

In [ ]:
query = """
        SELECT DISTINCT sub_region_1, sub_region_2, country_region
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 LIKE "Lincoln%"
        """
df = client.query(query).to_dataframe()
df.head(50)

             sub_region_1      sub_region_2  country_region
0   Buenos Aires Province   Lincoln Partido       Argentina
1            Lincolnshire  Lincoln District  United Kingdom
2              New Mexico    Lincoln County   United States
3          North Carolina    Lincoln County   United States
4                  Oregon    Lincoln County   United States
5                Arkansas    Lincoln County   United States
6                Colorado    Lincoln County   United States
7                 Georgia    Lincoln County   United States
8                   Idaho    Lincoln County   United States
9                Kentucky    Lincoln County   United States
10              Louisiana    Lincoln Parish   United States
11                  Maine    Lincoln County   United States
12              Minnesota    Lincoln County   United States
13            Mississippi    Lincoln County   United States
14               Missouri    Lincoln County   United States
15                Montana    Lincoln County   United States
16               Nebraska    Lincoln County   United States
17               Oklahoma    Lincoln County   United States
18           South Dakota    Lincoln County   United States
19              Tennessee    Lincoln County   United States
20             Washington    Lincoln County   United States
21          West Virginia    Lincoln County   United States
22              Wisconsin    Lincoln County   United States
23                Wyoming    Lincoln County   United States

## What was the lowest level of retail & recreation in Bernalillo county and when was that?

In [ ]:
query = """
        SELECT MIN(retail_and_recreation_percent_change_from_baseline)
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County" 
        """
df = client.query(query).to_dataframe()
df.head()

   f0_
0  -86

In [ ]:
query = """
        SELECT date
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County" AND sub_region_1 = "New Mexico"
              AND retail_and_recreation_percent_change_from_baseline = -80
        """
df = client.query(query).to_dataframe()
df.head()

         date
0  2020-11-26

Christmas! We probably don't want to account for that day (or Thanksgiving day).

In [ ]:
query = """
        SELECT MIN(retail_and_recreation_percent_change_from_baseline)
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County" AND date != '2020-12-25' 
        AND date != '2020-11-26'
        """
df = client.query(query).to_dataframe()
df.head()

   f0_
0  -61

In [ ]:
query = """
        SELECT date
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County" AND sub_region_1 = "New Mexico"
              AND retail_and_recreation_percent_change_from_baseline = -61
        """
df = client.query(query).to_dataframe()
df.head()

         date
0  2020-04-12

## Was that in a period of low retail and recreation activity or just noise in the data?

In [ ]:
query = """
        SELECT date, retail_and_recreation_percent_change_from_baseline
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 = "Bernalillo County" 
              AND retail_and_recreation_percent_change_from_baseline < -40
        ORDER BY date
        """
df = client.query(query).to_dataframe()
df.head(25)

          date  retail_and_recreation_percent_change_from_baseline
0   2020-03-21                                                -42
1   2020-03-24                                                -43
2   2020-03-25                                                -44
3   2020-03-26                                                -45
4   2020-03-27                                                -45
5   2020-03-28                                                -51
6   2020-03-29                                                -46
7   2020-04-04                                                -47
8   2020-04-05                                                -44
9   2020-04-08                                                -41
10  2020-04-10                                                -42
11  2020-04-11                                                -48
12  2020-04-12                                                -61
13  2020-04-13                                                -48
14  2020-04-18                                                -45
15  2020-04-19                                                -41
16  2020-04-25                                                -43
17  2020-07-04                                                -41
18  2020-11-21                                                -45
19  2020-11-22                                                -44
20  2020-11-26                                                -80
21  2020-11-27                                                -54
22  2020-11-28                                                -51
23  2020-11-29                                                -45
24  2020-12-25                                                -86
25  2021-01-01                                                -50
26  2021-02-14                                                -48

## What country has decreased retail and recreation activity the most?

In [ ]:
query = """
        SELECT country_region, ROUND(AVG(retail_and_recreation_percent_change_from_baseline), 1)
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        GROUP BY country_region
        ORDER BY AVG(retail_and_recreation_percent_change_from_baseline)
        """
df = client.query(query).to_dataframe()
df.head()

    country_region   f0_
0           Panama -48.2
1  Myanmar (Burma) -44.2
2            Chile -42.1
3        Argentina -40.5
4             Peru -40.5

In [ ]:
df.tail(5)

       country_region   f0_
130  Papua New Guinea  12.8
131             Niger  15.0
132       Afghanistan  16.0
133             Libya  21.7
134             Yemen  25.4

## How does New Mexico compare to similar states?

In [ ]:
query = """
        SELECT sub_region_1, AVG(retail_and_recreation_percent_change_from_baseline)
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_1 = "New Mexico" OR sub_region_1 = "Colorado" OR
              sub_region_1 = "Arizona" OR sub_region_1 = "Oklahoma"
              OR sub_region_1 = "Texas" OR sub_region_1 = "Utah"
        GROUP BY sub_region_1
        ORDER BY AVG(retail_and_recreation_percent_change_from_baseline)
        """
df = client.query(query).to_dataframe()
df.head()

  sub_region_1        f0_
0   New Mexico -15.180571
1      Arizona -12.072678
2     Colorado -10.366307
3        Texas  -7.781978
4         Utah  -2.360884

## What does all the data for Bernalillo County look like?

In [ ]:
table.schema

[SchemaField('country_region_code', 'STRING', 'NULLABLE', '2 letter alpha code for the country/region in which changes are measured relative to the baseline. These values correspond with the ISO 3166-1 alpha-2 codes', ()),
 SchemaField('country_region', 'STRING', 'NULLABLE', 'The country/region in which changes are measured relative to the baseline', ()),
 SchemaField('sub_region_1', 'STRING', 'NULLABLE', 'First geographic sub-region in which the data is aggregated. This varies by country/region to ensure privacy and public health value in consultation with local public health authorities', ()),
 SchemaField('sub_region_2', 'STRING', 'NULLABLE', 'Second geographic sub-region in which the data is aggregated. This varies by country/region to ensure privacy and public health value in consultation with local public health authorities', ()),
 SchemaField('iso_3166_2_code', 'STRING', 'NULLABLE', 'Unique identifier for the geographic region as defined by ISO Standard 3166-2.', ()),
 SchemaField('census_fips_code', 'STRING', 'NULLABLE', 'Unique identifier for each US county as defined by the US Census Bureau. Maps to county_fips_code in other tables', ()),
 SchemaField('date', 'DATE', 'NULLABLE', 'Changes for a given date as compared to baseline. Baseline is the median value, for the corresponding day of the week, during the 5-week period Jan 3â€“Feb 6, 2020.', ()),
 SchemaField('retail_and_recreation_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.', ()),
 SchemaField('grocery_and_pharmacy_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies.', ()),
 SchemaField('parks_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like local parks, national parks, public beaches, marinas, dog parks, plazas, and public gardens.', ()),
 SchemaField('transit_stations_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places like public transport hubs such as subway, bus, and train stations.', ()),
 SchemaField('workplaces_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places of work.', ()),
 SchemaField('residential_percent_change_from_baseline', 'INTEGER', 'NULLABLE', 'Mobility trends for places of residence.', ())]

In [ ]:
query = """
        SELECT date,
               retail_and_recreation_percent_change_from_baseline AS retail_recreation,
               grocery_and_pharmacy_percent_change_from_baseline AS grocery,
               parks_percent_change_from_baseline AS parks,
               transit_stations_percent_change_from_baseline AS transit,
               workplaces_percent_change_from_baseline AS work,
               residential_percent_change_from_baseline AS residential
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_1 ="New Mexico" AND sub_region_2 = "Bernalillo County"
        ORDER BY date
        """
df = client.query(query).to_dataframe()
df.head(30)

          date  retail_recreation  grocery  parks  transit  work  residential
0   2020-02-15                  4       10     25        0     0           -1
1   2020-02-16                 12       10     28        4     2           -1
2   2020-02-17                 10        6     35        2   -24            4
3   2020-02-18                  5        8     17        6     3            0
4   2020-02-19                  1        8      6        3     1            0
5   2020-02-20                  5        4      9        3     1            0
6   2020-02-21                  3        6      4        1     4           -1
7   2020-02-22                  1        3    -12       -7     0            1
8   2020-02-23                  3        1    -32       -5     0            1
9   2020-02-24                  6        5      9        5     3           -1
10  2020-02-25                  5        4     -4        3     3            0
11  2020-02-26                 11        9      9        6     2           -1
12  2020-02-27                 13        9     24       11     1           -1
13  2020-02-28                 11       12     19       11     5           -3
14  2020-02-29                 13       13     41        6     4           -3

##  How many counties in the U.S. have a name that starts with a B?

In [ ]:
query = """
        SELECT DISTINCT sub_region_2
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_2 LIKE "B%" AND country_region = "United States"
        """
df = client.query(query).to_dataframe()
df.head(6)

        sub_region_2
0     Baldwin County
1      Benton County
2       Butte County
3     Boulder County
4  Broomfield County
5         Bay County

In [ ]:
df.count()

sub_region_2    143
dtype: int64

## What does all the data for Bernalillo County look like for June?

In [ ]:
query = """
        SELECT date,
               retail_and_recreation_percent_change_from_baseline AS retail_recreation,
               grocery_and_pharmacy_percent_change_from_baseline AS grocery,
               parks_percent_change_from_baseline AS parks,
               transit_stations_percent_change_from_baseline AS transit,
               workplaces_percent_change_from_baseline AS work,
               residential_percent_change_from_baseline AS residential
        FROM `bigquery-public-data.covid19_google_mobility.mobility_report`
        WHERE sub_region_1 ="New Mexico" AND sub_region_2 = "Bernalillo County"
              AND date BETWEEN '2021-06-01' AND '2021-06-30'
        ORDER BY date
        """
df = client.query(query).to_dataframe()
df.head(30)

          date  retail_recreation  grocery  parks  transit  work  residential
0   2021-06-01                 -2        8     34      -14   -37            7
1   2021-06-02                 -7        1     28      -14   -37            8
2   2021-06-03                 -3        1     40      -16   -37            7
3   2021-06-04                 -8        1     29      -11   -33            6
4   2021-06-05                -14       -4     31       -6   -17            2
5   2021-06-06                 -5       -3     26       -6   -13            1
6   2021-06-07                 -5       -1     36      -12   -37            7
7   2021-06-08                 -4        1     28       -8   -36            8
8   2021-06-09                 -5        2     26      -11   -36            8
9   2021-06-10                 -5        0     36      -14   -37            8
10  2021-06-11                 -9        1     22       -9   -34            6
11  2021-06-12                -15       -4     24       -5   -18            1
12  2021-06-13                 -7       -4      8      -11   -13            1
13  2021-06-14                 -6       -3     29      -10   -38            7
14  2021-06-15                 -4        0     19       -9   -36            8
15  2021-06-16                 -4        2     18      -11   -37            7
16  2021-06-17                 -3        0     33      -13   -37            7
17  2021-06-18                 -8        2     19      -13   -36            6
18  2021-06-19                -13        1     28       -4   -17            1
19  2021-06-20                 -6        2      4      -13   -14           -1
20  2021-06-21                 -7       -5     27      -14   -39            7
21  2021-06-22                 -6        0     23       -8   -37            8
22  2021-06-23                 -7       -1     19       -9   -37            7
23  2021-06-24                 -7       -4     31      -15   -37            7
24  2021-06-25                 -8       -2     18      -11   -34            6
25  2021-06-26                -13       -7     28       -8   -17            1
26  2021-06-27                 -6       -6     17      -12   -13            1
27  2021-06-28                 -7       -7     21      -14   -38            4
28  2021-06-29                 -9       -6     -2      -12   -38            8
29  2021-06-30                 -6        0     13       -7   -37            8

## Your Turn
You will now practice using queries with Kaggle's Intro to SQL, located [here](https://www.kaggle.com/learn/intro-to-sql).